*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Jost', sans-serif;
    background-color: rgba(197, 190, 182, 0.137);
}
header{
    margin-bottom: 100px;
}
.header{
    position: relative;
    z-index: 1;
    padding: 10px 0px;
}
.header::after{
    position: absolute;
    background: #4a555c;
    opacity: .1;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.header-top{
    margin-left: 10%;
    margin-right: 5%;
    color: white;
    
}
.header-top h2{
    margin-top: 7px;
    text-transform: uppercase;
}
nav ul{
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
a:hover{
    color: #ff214f !important;
}
.header-top{
    padding: 10px;
}
.header-bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url("shoriful/img/bg1.jpg");
    background-size: cover;
    background-position: center;
}
section{
    margin-bottom: 100px;
}

/*header bottom*/
.left-site{
    color: white;
}
.left-site h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
}
.left-site p{
    font-size: 20px;
    margin-top: 30px;
}
.danger{
    background-color: #ff214f;
    padding: 15px 40px;
    color: white;
    border: none;
    font-weight: 700;
    transition: all .5s;
}
.danger:hover{
    background-color: white;
    color: #ff214f;
}
.header-bottom{
    margin-right: 8%;
    margin-left: 10%;
}
.from-body{
    background-color: white;
    padding: 40px;
    align-items: center;
    margin-top: 30px;
}
.form-select{
    margin-bottom: 20px;
    padding: 13px;
}
.danger-search{
    background-color: #ff214f;
    padding: 10px;
    color: white;
}
/*feature start*/
.feature{
    text-align: center;
    padding-bottom: 50px;
}
.feature h2{
    font-size: 40px;
}
.feature p{
    font-size: 20px;
    color: gray;
}
.cart{
   position: relative; 
   border: 1px solid transparent;
   transition: all ease .5s;
   background-color: white;
}
.image img{
    width: 360px;
    height: 250px;
    transition: all 3s ease-in-out;
}
.image{
   z-index: -1;
}
.imgae-content {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; 
}
.imgae-content h5{
    color: white;
    background-color: #ff214f;
    width: 120px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
}
.imgae-content h3{
    color: #ff214f;
    position: absolute;
    top: 180px;
    left: 180px;
    font-size: 35px;
    font-weight: 500;
}
.same{
    color: aliceblue;
    font-size: 16px;
    text-transform: lowercase;
}
.address{
    padding: 10px;
}
.cart-icon{
    margin-top: 30px;
    display: flex;
    padding-right: 10px;
    border-top: 1px solid lightgray;
}
.icon{
    display: flex;
    margin-right: 20px;
    padding: 10px 20px 0px 0px;
    border-right: 1px solid lightgray;
}
.last-child{
    margin-right: 0px;
    border-right: none;
}
.icon p{
    margin-left: 5px;
    margin-bottom: 0px !important;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/*personal work start*/
.working{
    background-color: lightgray;
    padding: 100px;
}
.work-icon i{
    font-size: 50px;
    line-height: 110px;
    color: #ff214f;
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all 1s ease;

}
.work-icon i:hover{
    background-color: #ff214f;
    color: white;
}
.work-cart{
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}
.personal-work{
    display: flex;
}
/*work place start*/
.place-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.image-place{
    position: relative;
}
.image-content{
    position: relative;
}
.image-content .content{
    position: absolute;
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 1; 
    color: white;
}
.content{
    position: absolute;
    position: absolute;
    top: 400px;
    left: 20px;
    z-index: 1; 
    color: white;
}
/*counter start*/
.counter-bg{
    background-image: url(shoriful/img/img12.jpg);
    padding: 50px 0px 50px 0px;
}
.counter-icon{
    display: flex;
    padding: 20px;
}
.counter{
    background-color: white;
}
.counter-icon i{
    font-size: 50px;
    color: #ff214f;
    padding: 10px;
    background-color: lightgray;
    font-weight: 300;
    transition: all 1s ease;
}
h3{
    color: #ff214f;
    line-height: 20px;
}
.counter{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px;
}
.counter-content{
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
}
.counter-icon i:hover{
    background-color: #ff214f;
    color: white;
    font-weight: 300;
    border-radius: 5px;
}

/*contant- details*/
.detail{
    display: flex;
}
.location{
    display: flex;
}
.location i{
    margin-right: 10px;
}
.full-detail{
    margin-left: 20px;
}
.full-detail h4{
    font-size: 30px;

}
.full-detail h5{
    font-size: 16px;
    margin-bottom: 20px;
}
.social-icon{
    display: flex;
}
.social-icon i{
    padding: 10px;
}
.social-fb{
    background-color: #28589c;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
}
.social-tw{
    background-color: #00a2ed;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}
.social-g{
    background-color: #e03c31;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}
.social-in{
    background-color: #0e76a8;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}
/*best bolg*/
.blog-best{
}
.content-blog{
    background-image: url(shoriful/img/man4.jpg);
    background-image: none;
    margin-top: -50px;
    background-color: white;
    padding: 30px;
    z-index: -1;
}
.hover-image{

}
.content-blog:hover{
    background-image: url(shoriful/img/man4.jpg);
    z-index: 1;
    color: white;
}
.blog-best img{
    margin-left: 30px;
    width: 15%;
    border-radius: 20px;
}
.content-blog h6{
    margin-top: 50px;
}
.danger-read{
    border: none;
    color: #ff214f;
    background-color: none;
}
/*footer start*/
.footer-bg{
    background-color: #202040;
    color: white;
    padding: 50px;
}
.foter{
    border-bottom: 1px solid red;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.footer-bg a:hover{
    color: white !important;
}
.footer-buttom{
    background-color: #202040;
    padding: 10px;
    color: white;
}
.social-item i{
    font-size: 30px;
    
}
.social-item i{
    background: #202040;
    margin-right: 10px;
}
.social-item i:hover{
    background-color: white;
    color: #28589c;
}
